
#instructions {
  margin: auto;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

#show-grid{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: red;
}