
#instructions {
  margin: auto;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

#instructions-text {
  width: 70%;
  margin: auto
}

#show-grid{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: red;
}

#instructions h2{
  font-size: 24px;
  font-weight: bold;
}

#end-screen{
  display: none;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

#end-game-restart-command{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  cursor: pointer;
  color: white;
}

#options{
  display: flex;
  width: 200px;
  justify-content: right;
}

#options li{
  padding-right: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#about{
  display: flex;
  width: 200px;
}

.about-link{
  width: 50px;
  height: 50px;
  padding-left: 20px;
}

.about-link i{
  font-size: 40px;
  color: white;
}


#turn-overview {
  position: absolute;
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  top: 60px;
  right: 0;
  width: 200px;
}

#turn-overview-title {
  font-weight: bold;
}

@media only screen and (max-width: 1050px) {
  #turn-overview {
    display: none;
  }
}