
#instructions {
  margin: auto;
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: "Nanum Gothic"
}

#instructions-text {
  margin: auto
}

#show-grid {
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  color: red;
  transition: 0.3s;
  font-weight: 500;
  font-family: "Orelega One";
}

#show-grid:hover{
  background-color: darkred;
  color: white;
}

#instructions h2{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto'
}

#end-screen{
  display: none;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

#end-game-restart-command{
  font-size: 20px;
  background-color: black;
  cursor: pointer;
  color: white;
  font-family: "Orelega One"
}

#options{
  display: flex;
  width: 200px;
  justify-content: right;
}

#options li{
  padding-right: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#options li:hover{
  text-decoration: underline;
}
#about{
  display: flex;
  width: 200px;
}

.about-link{
  width: 50px;
  height: 50px;
  padding-left: 20px;
}

.about-link i{
  font-size: 40px;
  color: white;
}


#turn-overview {
  position: absolute;
  text-align: left;
  color: white;
  font-size: 15px;
  top: 60px;
  right: 0;
  width: 200px;
  line-height: 1.1;
  padding-right: 10px;
  font-family: "Nanum Gothic";
}

#turn-overview-title {
  font-weight: 900;
}

@media only screen and (max-width: 1050px) {
  #turn-overview {
    display: none;
  }
}