
#instructions {
  margin: auto;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

#show-grid{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: red;
}

#instructions h2{
  font-size: 24px;
  font-weight: bold;
}

#end-screen{
  display: none;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

#end-game-restart-command{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  cursor: pointer;
  color: white;
}

#options{
  display: flex;
}

#options li{
  padding-right: 10px;
  color: rgb(94, 81, 59);
  font-size: 20px;
  cursor: pointer;
}

