body{
  background-color: black;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover
}

#play-area{
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
} 

.title{
  // margin: auto;
  // width: 5%;
  display: block;
  text-align: center;
  padding: 10px;
}

#action-options{
  margin: auto;
  width: 50%;
  padding: 10px;
}

h2{
  font-size: 24px;
  color: rgb(255, 38, 0);
}

#action-options li{
  border: 1px solid black;
  font-size: 20px;
  background-color: goldenrod;
  cursor: pointer;
}

#action-options li:hover{
  background-color: black;
  color: white;
}

#unit-stats{
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0%;
  margin-right: 10px;
  width:100px;
}

.stats-title{
  font-size: 24px;
  color: rgb(248, 208, 106);
}


/* #game-grid{
    padding: 0;
    display: block;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */